
body{
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	font-size: 18px;
}
.wrapper{
	margin-top: 75px;
	margin-left: 145px;
	margin-right: 145px;
	text-align: center;
	height: 100%;
}
.header{
	width: 100%;
	text-align: center;
	z-index: 90;
	position:fixed;
}
#opaq{
	font-style: normal;	
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#community{
	font-style: normal;
	font-variant: bold;
	font-size: 22px;
	/*letter-spacing:1px;*/
	line-height:145%

}
#essex{
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 20px;
	font-style: normal;
	text-align: center;
}
#pdt{
	font-family: Bell Centennial Std ;
	font-size: 21px;
	font-style: normal;
	line-height:145%;


}
#cityHall{
	font-size: 19px;
	font-family: Script;
	text-align: center;
}
#lawRoom{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 26px;
}

#padText{
	font-family: Playbill;
	font-size: 30px;
	font-style: normal;
}
#brooklynText{
	font-family: OCR A Std;
	font-style: normal;
}
#bathText{
	font-size: 20px;
	font-style: normal;
	font-family: 'metric-regular-web', times, Arial, sans-serif;
}
#tbbText{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
	
}
#paley{
	font-style: normal;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.imgContent{
	margin-top: 30px;
}
.caption{
	text-align: left;
	margin:40px 0px 40px 0px;
	font-style: italic;
}
.door{
	text-align: center;
	margin-top: 40px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 500px;
}

.city{
	color:#d2c599;
}
.pdt{
	color: #fff6d6;
}
.blind{
	color:white;
}
.pad{
	color: #b70b09;
}


.badgeContainer {
position: fixed;
top: 40%;
left: 37%;
width: 400px;
height: 400px;
margin: -70px 0 0 -70px;
z-index: 90;
}
